.ContentWrapper {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: column;
}

ul {
    height: auto;
    width: auto;
}

li  {
    height: auto;
    width: auto;
}

h1 {
/*TODO styling*/
}
