.Home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    overflow-y: scroll;
}

.sidebarHome {
    flex: 2;

    border: red solid;
}

.contentHome {
    flex: 5;

    border: green solid;
}

.sideMenuHome {
    flex: 2;

    border: yellow solid;
}
