.Home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    overflow-y: scroll;
}

.sidebarHome {
    flex: 2;

    border: red solid;
    block-size: fit-content;
    height: 100%;
}

.contentHome {
    flex: 8;

    border: green solid;
    overflow:auto;
    padding: 1em;
}

.sideMenuHome {
    flex: 1;

    block-size: fit-content;
    border: yellow solid;
    margin: 2.5% 2.5% 0 2.5%;
    padding: 1em;
}
