.Home {
    box-sizing: border-box;


    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;

    justify-content: space-between;

    overflow-y: scroll;
}

.sidebarWrap {
    flex: 2;

    border: red solid;
}

.contentWrap {
    flex: 5;

    border: green solid;
}

.sideMenuWrap {
    flex: 2;

    border: yellow solid;
}
