.CodeWrapper code {
  border: 1px solid #87f8ff;
  border-radius: 20px;
  padding: 1em;
  font-size: 0.5em;
  display: block;
}

.CodeWrapper code {
  font-size: inherit;
}

.CodeWrapper span {
  font-size: inherit;
}
