.Container {
    position: absolute;

    display: flex;
    flex-flow: column;
    flex-wrap: wrap;

    justify-items: center;
    align-items: center;
    background: url("src/assets/img/error.svg") 50% 15% no-repeat;

    background-size: 20%;
    width: 100vw;
    height: 100vh;
}


.cfContainer {
    position: absolute;

    width: 100vw;
    height: 100vh;
}

.errMessageBox {
    position: absolute;
    top: 45%;

    border: black dashed;
    background-color: var(--quote-background);
    width: 35%;
    height: 20%;

    text-align: center;

    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2em;
    gap: 10%;
}

.errMessage {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: scroll;
}

.copyButton {
    margin-top: -1.5em;
    margin-right: -1.5em;
    width: 5vw;
    height: 5vh;
}

